* {
    -webkit-user-select: none;
}


body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: #180053;
    font-family: sans-serif;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}


#button {
    position: absolute;
    left: 2vw;
    top: 2vh;
    font-size: 3em;
}


#tile_container, .entry_container {
    width: 90vw;
    height: 80vh;
    display: -webkit-flex;
}


#tile_container {
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
}


.tile_group {
    height: 80vh;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-align-content: flex-start;
}


.tile {
    width: 12em;
    height: 12em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    -webkit-flex-shrink: 0;
    background: linear-gradient(to bottom, #6348b4 0%,#7452c6 100%);
}


.category_tile {
    display: -webkit-flex;
    position: relative;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}


.category_label {
    position: absolute;
    right: 0.2em;
    bottom: 0.2em;
}


.entry_container {
    -webkit-flex-direction: column;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-align-content: flex-start;
}


.entry_tile {
    width: 16em;
    height: 5em;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
}


#button:hover, .entry_tile:hover {
    background-color: #2b0680;
}


.category_icon, .entry_icon {
    width: 4em;
    height: 4em;
    -webkit-flex-shrink: 0;
}


.entry_separator {
    -webkit-flex-basis: 0.5em;
}


#button, .entry_label {
    cursor: default;
}


.entry_label {
    font-size: 1.2em;
    -webkit-flex-basis: 10em;
}