* {
    -webkit-user-select: none;
}


body {
    margin: 0px;
    min-width: 100vw;
    height: 100vh;
    color: white;
    background-color: #180053;
    font-family: sans-serif;
    font-size: 10px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
}


#go_back_button {
    position: absolute;
    left: 10vw;
    top: 5vh;
    font-size: 4em;
}


#toggle_mode_button {
    position: absolute;
    right: 10vw;
    top: 5vh;
    font-size: 4em;
}


#tile_container, .entry_container {
    margin-left: 10vw;
    height: 70vh;
    display: -webkit-flex;
}


#tile_container {
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-start;
    -webkit-align-items: center;
}


.tile_group {
    height: 70vh;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-align-content: flex-start;
}


.tile {
    width: 12em;
    height: 12em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-right: 0.8em;
    -webkit-flex-shrink: 0;
    background: linear-gradient(to bottom, #6348b4 0%,#7452c6 100%);
    display: -webkit-flex;
    position: relative;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}


.tile_label {
    position: absolute;
    left: 1.5em;
    bottom: 0.6em;
    overflow: hidden;
}


.entry_container {
    -webkit-flex-direction: column;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-align-content: flex-start;
}


.entry_tile {
    box-sizing: border-box;
    width: 19.5em;
    height: 5.6em;
    padding: 0.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 1.2em;
}


.entry_content_wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;
}


#go_back_button:hover, .entry_tile:hover {
    background-color: #2b0680;
}


.tile_icon, .entry_icon {
    width: 4em;
    height: 4em;
    -webkit-flex-shrink: 0;
}


#go_back_button, .entry_label {
    cursor: default;
}


.entry_label {
    font-size: 1.2em;
    margin-left: 0.8em;
    -webkit-flex-basis: 10em;
}


::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    background-color: #5a4a80;
}


::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
}


::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
}